fastapi
sqlalchemy
aiofiles
uvicorn
sentence-transformers
pdfplumber
PyPDF2
pydantic
pydantic_settings
python-dotenv
python-multipart
pydantic[email]
qdrant-client
langchain
langchain-community
redis
langchain_openai